clang5
outfile
searchbench
dump
replicate_experiments/*.tsv
replicate_experiments/*.tsv.out
replicate_experiments/.DS_Store

.DS_Store
.ipynb_checkpoints/
replicate_experiments/.ipynb_checkpoints/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.idea/*

release
debug
