clang5
outfile
searchbench
dump
reproduce_experiments/results/*.tsv
reproduce_experiments/results/*.tsv.out
reproduce_experiments/.DS_Store
reproduce_experiments/results/.DS_Store
reproduce_experiments/Reproducibility.html
reproduce_experiments/figures/*.pdf
reproduce_experiments/figures_from_docker

.DS_Store
.ipynb_checkpoints/
reproduce_experiments/.ipynb_checkpoints/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.idea/*

release
debug
