clang5
outfile
searchbench
dump
debug_searchbench
dump_bin
txt_to_bin
sample_bin
bin_to_txt

reproduce_experiments/experiments_results/*.results
reproduce_experiments/experiments_configurations/*.tsv
reproduce_experiments/figures/*.pdf
reproduce_experiments/CreateFigures.html

.DS_Store
.ipynb_checkpoints/
reproduce_experiments/.ipynb_checkpoints/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.idea/*

release
debug
